@{
    ViewBag.Title = "Про свято";
}
<div class="jumbotron">
    <h1>Маленька історія...</h1>
    <p class="lead"><i>Він жив поживав та добра наживав - Моя сусідка</i></p>
</div>
<p><h4>
    За легендою, християнський священик Валентин жив за часів імператора Клавдія II Готського (III ст. від Р. Х.) й поруч з основним покликанням займався природничими науками та медициною.
    Войовничий імператор Клавдій нібито вважав, що сім'я заважає солдатам воювати за імперію і видав едикт, яким забороняв воїнам одружуватися. Валентин, попри цей указ, продовжував таємно вінчати всіх охочих. За це його заарештували й ув'язнили під охороною офіцера, прийма́чка якого була сліпою. Священик оздоровив її, а опісля навернув на християнство батька й цілу родину. Довідавшись про це, імператор наказав відтяти йому голову, що й сталося 14 лютого.
    Але щонайменше троє святих Валентинів були римськими мучениками. Один був священиком і лікарем у Римі, другий — єпископом у Терні (Італія), третій жив у Єгипті приблизно у 100–153 роках. Останній був одним із кандидатів на пост римського єпископа (тобто Папи), у своїх проповідях звеличував цінності шлюбу як втілення християнської любові. Про обставини його смерті і про місце поховання практично нічого невідомо.
    Римський Валентин загинув 269 року (часи імператора Клавдія II), тернійський — 197-го. Обидва були поховані на одному цвинтарі (поблизу сучасних воріт Порта дель Пополо у Римі, які тепер часто називають «воротами Святого Валентина»). Останки першого Валентина (римського священика і лікаря) згодом зберігалися в одній із церков Рима. 1836 року Папа Римський Григорій XVI передав останки церкві в Дубліні, де вони зберігаються досі. Останки другого Валентина нині перебувають у базиліці Святого Валентина в Терні — місті, де він колись був пастирем.
    Вважається, що День Святого Валентина у християнські часи замінив собою язичницьке свято луперкалій (на честь бога Фавна; за іншою версією, на честь богині шлюбу, сім'ї Юнони), який відзначався щороку 14 лютого. Ця заміна сталася 496 року за розпорядженням Папи Римського Геласія I.
    Широкої популярності в Західній Європі це свято набуло після XV століття. За переказом, винахід «валентинки» приписують герцогу Орлеанському Шарлю. 1415 року, перебуваючи в англійському полоні після битви під Азенкуром, він нібито надсилав із лондонської в'язниці віршовані любовні послання своїй дружині. Одна з тодішніх «валентинок» нині зберігається в Британському Музеї. У США свято відзначають з 1777 року.
    Втім, у Римсько-Католицькій Церкві св. Валентин офіційно вважається не покровителем закоханих, а покровителем людей, які страждають на нервові захворювання: ікони часто зображують Валентина в одязі священика або єпископа, який оздоровлює юнака від епілепсії. За церковними переказами, на могилі св. Валентина один юнак, хворий на епілепсію, довго молився — і видужав.
</h4></p>
<p>Стаття взята з Wikipedia.org</p>
