@{
    ViewBag.Title = "Про групу";
}
<div class="jumbotron">
    <h1>Контакти</h1>
    <p class="lead"><i>Моя група найкраща - Петро Олександрович</i></p>
</div>
<address>
    КНІТ-21
    Національний Університет Водного Господарства та Природокористування<br />
    м. Рівне<br />
    <abbr title="Телефон">Тел:</abbr>
    +380631234567
</address>

<address>
    <strong>Моя пошта:</strong>   <a href="mailto:meleshchuk_ak16@nuwm.edu.ua">meleshchuk_ak16@nuwm.edu.ua</a><br />
</address>