@{
    ViewBag.Title = "Подарунки";
}


<div class="jumbotron">
    <h1>Подарунки</h1>
    <p class="lead"><i>Ну добре що не шкарпетки - цитати недуже розумних людей</i></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Подарунок дівчатам</h2>
        <p>
            <h4>
                Одна дівчина сказала що дівчата не очікують від хлопця подарунки на цей день. Казалось би все просто, недарувати подарунок але непотрібно бути
                такими економними. Кожен подарунок робить приємне дівчині. Квіти та цукерки це більш дешевший та безпройграшний варіант. Після цього можете сходити в кафе.
                Якщо їй подобається кататись на конях то чому б не зводити та не покататись разом на конях? 
            </h4>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Подарунок хлопцям</h2>
        <p>
            <h4>
                Для тих хто не може багато витратити на подарунок то краще купіть теплі шкарпетки. Хоча б взимку буде тепло.
                Якщо ваш коханий має в своєму житті дві пристрасті - ви і комп'ютерні технології, варто йому подарувати
                до дня закоханих наприклад,
                флешка з великим об'ємом пам'яті або зовнішній жорсткий диск з USB-підключенням. Але є одне «але» при виборі
                корисного подарунка до дня святого Валентина - не варто в даному випадку вибирати флешку або «мишку» у формі сердечок.
                Це не пам'ятний сувенір, а робочий предмет.
            </h4>
        </p>
    </div>
    <div class="col-md-4">
        <h2>Якщо ти самотня птиця</h2>
        <p>
            <h4>
                Подзвони своїм друзям, адже вони так хочуть піти з тобою на пивас!
                Але якщо тобі за 25 і тобі надоїло бути самотнім, заходь
                сюди і знайди ту яка кожного ранку буде готувати тобі яєшницю.
            </h4>
        </p>
        <p><a class="btn btn-default" href="https://badoo.com/uk/signin"> Переходь сюди &raquo;</a></p>
    </div>
</div>

