@{
    ViewBag.Title = "Головна";
}

<div class="jumbotron">
    <h1>День валентина</h1>
    <p class="lead"><i>Це чудове свято але не для всіх.</i></p>
</div>
<h2>Що це таке за свято?</h2>
<p>
    <h4>
        День всіх закоханих, або ж День святого Валентина. Майже всі люди знають що це не лише свято
        романтики, кохання та ніжності. Традиційно на День всіх закоханих люди дарують один одному
        різні ласощі у формі сердечок, квіти і маленькі сувенірчкики. Повелось це ще з Середньовіччя.
        В 17 столітті, 14 лютого закохані обмінювались маленькими подаруночками: рукавичками, перснями,
        ласощами. Та незмінними атрибутами свята досі залишаються валентинки та червоні троянди як символ кохання.
    </h4>
    <h4>
        Найдавніший опис 14 лютого як щорічне святкування любові висвітлюється в Статуті суду любові.
        Статут, нібито виданий Карлом VI у Франції в 1400 році в Мант-ла-Жолі, описує щедрі свята,
        в яких брали участь кілька членів королівського двору, включаючи святкові, любовні пісні та поетичні змагання,
        змагання танцями. Серед цих урочистостей присутні жінки вирішували суперечки з коханцями.
        Жоден інший запис статуту не існує. Ніхто з названих в статуті не був присутній у Мант, крім його жінки,
        Ізабелли Баварської, яка, поки не прийшла чума, цілком могла собі пофантазувати.

    </h4>
</p>
<h2>Чому червоні троянди?</h2>
<p>
    <h4>
        Одна з грецьких легенд розповідала, що якось Афродіта бігла на зустріч до свого коханого Адоніса і наступила
        на кущ білих троянд, які від її божественної крові почервоніли. У стародавні часи греки вважали троянду
        божественною квіткою. Ще одна історія розповідала, що богиня Флора якось перетворила красиву дівчину на квітку,
        Афродіта поділилась з нею красою, а три харити подарували їй шарм, Діоніс приніс ароматний нектар, були дари й
        від інших богів. Коли троянда виросла, її передали богу кохання Еросу і назвали «королевою квітів».
    </h4>
    <h4>
        А в римлян була своя легенда: жила колись красива дівчина Роданта.
        Всі хотіли одружитися з нею, а вона відмовлялась. Якось злі залицяльники вдерлись до її
        дому, що дуже розлютило богиню родючості, тварин та рослин Діану, тому вона перетворила дівчину на
        троянду, а залицяльників на шипи.
    </h4>
</p>
